* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 1140px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.header__logo_search {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-right: 37px;
}
.header__logo-img {
  width: 59px;
  height: 51px;
}
.header__text-h3 {
  display: flex;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222;
  align-items: baseline;
}
.header__text-color {
  color: #f16d7f;
  font-weight: 900;
}
.header__search {
  display: flex;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 38px;
}
.header__search__btn {
  width: 87px;
  border: none;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
}
.header__search__form {
  display: flex;
}
.header__search__input {
  font-weight: 300;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding-left: 16px;
  width: 317px;
}
.header__search__btn2 {
  height: 38px;
  width: 38px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  border: none;
  background-color: #fff;
}
.header__basketbutton {
  display: flex;
  align-items: flex-end;
  margin-right: 0px;
}
.header__basketbutton_basket {
  width: 32px;
  height: 29px;
  margin-right: 26px;
}
.header__basketbutton__btn {
  border-color: #f16d7f;
  color: #ffffff;
  background-color: #f16d7f;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.025em;
  border-style: solid;
  padding: 2px 9px 2px 19px;
  font-size: 15px;
  line-height: 32px;
}
.header__basketbutton__btn:hover {
  background-color: #ffffff;
  color: #f16d7f;
}
.header__basketbutton__btn:hover .header__basketbutton_svg {
  fill: #f16d7f;
}

.brend-logo__logo_search {
  display: flex;
  align-items: center;
}
.brend-logo__logo {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-right: 37px;
}
.brend-logo__logo-img {
  width: 59px;
  height: 51px;
}
.brend-logo__text-h3 {
  display: flex;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222;
  align-items: baseline;
}
.brend-logo__text-color {
  color: #f16d7f;
  font-weight: 900;
}

.menu {
  display: flex;
  justify-content: center;
  height: 51px;
  align-items: center;
  border-top: 1px solid #e8e8e8;
}
.menu__box {
  display: flex;
  width: 680px;
  flex-direction: row;
  justify-content: space-between;
}
.menu__box__btn {
  background: none;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}
.menu__box__btn:hover {
  color: #f16d7f;
}
.menu__list {
  list-style-type: none;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu__list:hover .mega__item {
  display: block;
}

.mega__box {
  display: flex;
  flex-direction: row;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  top: 47px;
  left: -24px;
}
.mega__item {
  width: 235px;
  display: none;
  background-color: #fff;
  padding-bottom: 12px;
}
.mega__last {
  left: -400px;
}
.mega__title {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-top: 21px;
  margin-left: 25px;
}
.mega__title::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  top: -9px;
  left: 32px;
}
.mega__title_last::before {
  top: -9px;
  left: 402px;
}
.mega__line {
  margin-left: 25px;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 12px;
}
.mega__link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  margin-left: 25px;
}
.mega__link:hover {
  color: #f16d7f;
}

.container-low {
  width: 1140px;
  margin: 0px auto;
}

.bgc-breadcrumbs {
  background-color: #f8f3f4;
}

.breadcrumbs {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__arrivals {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.breadcrumbs__bc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs__clr {
  font-weight: 700;
  color: #f16d7f;
}

.content {
  margin-top: 89px;
  margin-bottom: 93px;
}
.content__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}
.content__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content__check {
  width: 550px;
  margin-top: 39px;
  margin-left: 35px;
}
.content__already {
  margin-top: 39px;
}
.content__h3 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 20px;
}
.content__h4 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}
.content__p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 34px;
}
.content__p-box {
  text-transform: none;
}
.content__radio {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.content__radio p {
  text-transform: none;
}
.content__chk {
  width: 14px;
  height: 14px;
}
.content__chk2 {
  width: 14px;
  height: 14px;
}
.content__input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
}
.content__input2 {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
}
.content__input {
  margin-bottom: 20px;
}
.content__input2 {
  margin-bottom: 33px;
}
.content__span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}
.content__btn {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 180px;
  height: 50px;
  background: none;
  border: 1px solid #eaeaea;
}
.content__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}
.content__line {
  margin-top: 31px;
  margin-bottom: 31px;
  width: 1140px;
  height: 1px;
  background-color: #e8e8e8;
}

summary::marker {
  display: none;
  content: "";
}

.bg-image {
  background-image: url(img/footer/serfer_lg.png);
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer__subscribe {
  height: 438px;
  display: flex;
}
.footer__girl {
  display: flex;
  flex-direction: column;
  margin-right: 148px;
  color: #FBFBFB;
  width: 386px;
  padding-top: 123px;
}
.footer__img {
  width: 83px;
  height: 83px;
  margin-top: 111px;
  margin-right: 28px;
}
.footer__text-h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222;
  margin-bottom: 19px;
}
.footer__block {
  display: flex;
  flex-direction: column;
}

.block__text-h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.block__text-h5 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222;
  margin-bottom: 41px;
}
.block__lines {
  display: flex;
}
.block__line1 {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 13px;
}
.block__line2 {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
  margin-right: 13px;
}

.subscribe__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  gap: 4px;
  margin-top: 148px;
}
.subscribe__text-h3 {
  color: #222;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.subscribe__text-h4 {
  color: #222;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  height: 46px;
  background-color: #E1E1E1;
  border: none;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 282px;
  text-align: center;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222;
}
.subscribe__input:hover {
  background-color: #fff;
}
.subscribe__btn {
  height: 46px;
  background-color: #F16D7F;
  border: none;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 104px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.subscribe__btn:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.brend-info {
  display: flex;
  height: 458px;
}
.brend-info__block {
  display: flex;
  flex-direction: column;
  padding-top: 109px;
  width: 427px;
}
.brend-info__company {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-left: 64px;
  margin-top: 123px;
}
.brend-info__information {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-left: 129px;
  margin-top: 123px;
}
.brend-info__category {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-left: 80px;
  margin-top: 123px;
}
.brend-info__h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 34px;
}
.brend-info__p1 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-top: 29px;
}
.brend-info__p2 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin-top: 29px;
}
.brend-info__link {
  display: block;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-decoration: none;
}
.brend-info__link:hover {
  color: #f16d7f;
  transform: scale(1.1);
}

.bgc-footer {
  background-color: #e6e6e6;
}

.footer__box {
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__text-h2 {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.footer__logo-box {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 8px;
}
.footer__logo {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.footer__logo:hover {
  background-color: #F16D7F;
}
.footer__logo:hover .icon {
  fill: white;
}/*# sourceMappingURL=style_checkout.css.map */